@page "/comingsoon"
<section class="section has-background-light is-clipped">
    <img class="is-absolute is-top-0 is-left-0 image is-fullwidth" src="https://images.pexels.com/photos/37728/pexels-photo-37728.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="" style="height: 100%; width:100%;">
    <div class="container">
        <div class="py-20 py-40-tablet is-relative has-background-light">
            <br />
            <br />
            <br />
            <div class="is-relative has-text-centered" style="margin-top:-717px;">
                <div class="mb-6 px-4 is-inline-block is-relative">
                    <h1 class="title is-1 has-text-grey is-relative">Coming soon</h1>

                    <ul class="is-flex">

                        <a href="#">
                            <img src="https://img.icons8.com/fluency/48/000000/facebook-new.png" />
                        </a>


                        <a href="#">
                            <img src="https://img.icons8.com/color/48/000000/instagram-new--v1.png" />
                        </a>


                        <a href="#">
                            <img src="https://img.icons8.com/color/48/000000/twitter--v1.png" />
                        </a>


                        <a href="#">
                            <img src="https://img.icons8.com/color/48/000000/linkedin.png" />
                        </a>
                    </ul>
                </div>
                <p class="subtitle is-5">
                    " Our website is under construction, but we are ready to go! Want<br />
                    to know more about us, tell us about your project or just say hello?
                    <br /> Contact Us on social media and we will get back as soon as possible."
                </p>
                <br />
                <br />
                <div style="margin-right:37%; margin-left:36%;">
                    <div class="field is-small">
                        <p class="control has-icons-left has-icons-right">
                            <input class="input" type="email" placeholder="Email">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                        </p>
                    </div>
                </div>
                <br />
                <a class="button is-info" href="#">Notify Me</a>
                <br/>
                <br/>
                <br/>
               
            </div>
            
        </div>
       
    </div>
    
</section> @*
<section class="section has-background-light is-clipped">
    <div class="container is-relative">
        <div class="has-mw-4xl mx-auto is-relative">
            <div class="-ml-4 -mr-4 mt-12 mb-12 is-absolute is-top-0 is-bottom-0 is-left-0 is-right-0" style="border: 1px solid rgba(255, 255, 255, 0.3);"></div>
            <div class="mx-auto px-4 py-28 is-relative has-background-dark has-text-centered" style="border: 1px solid rgba(255, 255, 255, 0.3);">
                <a class="mb-12 is-inline-block is-size-6" href="#">
                    <img class="image" src="https://images.pexels.com/photos/37728/pexels-photo-37728.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="">
                </a>
                <h3 class="has-text-white mb-14">Sign up with</h3>
                <div class="has-mw-xl mx-auto is-relative">
                    <ul class="is-flex">
                        <li>
                            <a href="#">
                                <img src="https://img.icons8.com/material-sharp/24/000000/facebook-new.png" alt="">
                            </a>
                        </li>
                        <li class="ml-2">
                            <a href="#">
                                <img src="https://img.icons8.com/material-rounded/24/000000/instagram-new.png" alt="">
                            </a>
                        </li>
                        <li class="ml-2">
                            <a href="#">
                                <img src="https://img.icons8.com/material-rounded/24/000000/twitter.png" alt="">
                            </a>
                        </li>
                        <li class="ml-2">
                            <a href="#">
                                <img src="https://img.icons8.com/material-rounded/24/000000/linkedin--v1.png" alt="">
                            </a>
                        </li>
                       
                    </ul>
                    <div class="mb-10 pb-16 columns is-multiline is-justify-content-space-between">
                        <div class="column is-4-tablet mb-2 mb-0-tablet">
                            <a class="button is-dark is-inline-flex is-justify-content-center is-align-items-center is-fullwidth" style="height: 64px; border: 1px solid rgba(255, 255, 255, 0.3);" href="#">
                                <img class="image" src="yofte-assets/brands/google.svg" alt="">
                                <span class="has-text-white ml-4 has-text-weight-bold">Google</span>
                            </a>
                        </div>
                        <div class="column is-4-tablet mb-2 mb-0-tablet">
                            <a class="button is-dark is-inline-flex is-justify-content-center is-align-items-center is-fullwidth" style="height: 64px; border: 1px solid rgba(255, 255, 255, 0.3);" href="#">
                                <img class="image" src="yofte-assets/brands/apple.svg" alt="">
                                <span class="has-text-white ml-4 has-text-weight-bold is-uppercase">Apple</span>
                            </a>
                        </div>
                        <div class="column is-4-tablet">
                            <a class="button is-dark is-inline-flex is-justify-content-center is-align-items-center is-fullwidth" style="height: 64px; border: 1px solid rgba(255, 255, 255, 0.3);" href="#">
                                <img class="image" src="yofte-assets/brands/facebook2.svg" alt="">
                                <span class="has-text-white ml-4 has-text-weight-bold is-uppercase">Facebook</span>
                            </a>
                        </div>
                    </div>
                    <div class="has-mw-md mx-auto">
                        <h5 class="title is-size-3 has-text-white mb-10">Sign up with Email:</h5>
                        <form action="">
                            <div class="field">
                                <div class="control">
                                    <input class="input mb-4" type="text" placeholder="john@example.com">
                                </div>
                                <div class="control">
                                    <input class="input mb-4" type="password" placeholder="Password">
                                </div>
                                <div class="control">
                                    <input class="input mb-10" type="password" placeholder="Repeat password">
                                </div>
                            </div>
                            <label class="checkbox" for="">
                                <input class="mr-2" type="checkbox">
                                <span class="has-text-light is-size-7">By singning up, you agree to our Terms, Data Policy and Cookies.</span>
                            </label>
                            <button class="button is-primary mt-12">JOIN yofte</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@