@page "/form"

<section class="section has-background-warning">
    <div class="container">
        <div class="is-max-w-md mx-auto">
            
            <div style="margin-left:20%; margin-right:20%;">
                <div class="box has-text-centered py-6 px-5">
                    <span class="subtitle is-spaced">Sign In</span>
                    <h4 class="title is-size-3">Join our community</h4>
                    <div>
                        <div class="field">
                            <div class="control has-icons-right">
                                <input class="input" type="email" placeholder="name@email.com">
                                <span class="icon is-small is-right">
                                    <svg class="image is-24x24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"></path>
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control has-icons-right">
                                <input class="input" type="password" placeholder="Enter your password">
                                <span class="icon is-small is-right">
                                    <svg class="image is-24x24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path>
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <div class="field mb-5">
                            <div class="control">
                                <button class="button is-warning is-fullwidth">Sign In</button>
                            </div>
                        </div>
                        <p class="mb-5">or continue with</p>
                        <button class="mb-3 button is-dark is-outlined is-fullwidth" href="#">
                            <img class="mr-2" src="metis-assets/logos/facebook-sign.svg" alt="">
                            <span>Sign In with Facebook</span>
                        </button>
                        <button class="button is-dark is-outlined is-fullwidth" href="#">
                            <img class="mr-2" src="metis-assets/logos/google-sign.svg" alt="">
                            <span>Sign In with Google</span>
                        </button>
                    </div>
                </div>
                <div class="has-text-centered has-text-white">
                    <p><a class="has-text-grey-light" href="#">Police privacy</a> and <a class="has-text-grey-light" href="#">Terms of Use</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<br/>
<br/>
<br/>
<br/>
    <section class=" is-three-fifth is-relative is-flex is-flex-direction-row-reverse is-justify-content-center">
        
        <div class="section pt-5 pb-6 is-fullwidth is-w-half-desktop">
            <div>
                <div class="mb-6 is-flex is-justify-content-space-between">
                    <a href="#">
                        <img src="https://api-media.selltime.com/Uploads/Media_3/Assets20200102000415/gambit-logo_20200102000442.png" alt="" width="106">
                    </a>
                    <a class="button is-warning is-outlined" href="#">Sign Up</a>
                </div>
                <div>
                    <span class="subtitle is-spaced">Sign In</span>
                    <h4 class="title is-size-3">Join our community</h4>
                    <div class="mb-5">
                        <div class="field">
                            <div class="control has-icons-right">
                                <input class="input" type="email" placeholder="name@email.com">
                                <span class="icon is-small is-right">
                                    <svg class="image is-24x24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"></path>
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control has-icons-right">
                                <input class="input" type="password" placeholder="Enter your password">
                                <span class="icon is-small is-right">
                                    <svg class="image is-24x24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path>
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <div class="field mb-5">
                            <div class="control">
                                <button class="button is-warning is-fullwidth">Sign In</button>
                            </div>
                        </div>
                        <p class="mb-5 has-text-centered">or continue with</p>
                        <button class="mb-3 button is-dark is-outlined is-fullwidth" href="#">
                            <img class="mr-2" src="metis-assets/logos/facebook-sign.svg" alt="">
                            <span>Sign In with Facebook</span>
                        </button>
                        <button class="button is-dark is-outlined is-fullwidth" href="#">
                            <img class="mr-2" src="metis-assets/logos/google-sign.svg" alt="">
                            <span>Sign In with Google</span>
                        </button>
                    </div>
                    <div>
                        <p><a href="#">Police privacy</a> and <a href="#">Terms of Use</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br/>
<br/>
<br/>
<br/>
<br/>
<br/>
        <div class="container mx-auto is-relative">
            <div class="is-vcentered columns is-multiline">
                <div class="column is-6 is-5-desktop mb-5">
                    <div>
                        <h2 class="has-text-white mb-4 is-size-1 is-size-3-mobile has-text-weight-bold">Lorem ipsum dolor sit amet consectutar domor at elis</h2>
                        <p class="has-text-white mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.</p>
                    </div>
                </div>
                <div class="column is-6 is-4-desktop mx-auto">
                    <div class="box has-background-light has-text-centered">
                        <form action="#">
                            <span class="has-text-grey-dark">Sign Up</span>
                            <h3 class="mb-5 is-size-4 has-text-weight-bold">Create new account</h3>
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="email" placeholder="E-mail address">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="password" placeholder="Password">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="password" placeholder="Repeat password">
                                </div>
                            </div>
                            <div class="field">
                                <label class="checkbox mb-4">
                                    <input class="checkbox mr-2" type="checkbox" name="terms" value="1">
                                    <small class="has-text-grey-dark">By signing up, you agree to our <a href="#">Terms, Data Policy</a> and <a href="#">Cookies Policy</a>.</small>
                                </label>
                            </div>
                            <button class="button is-primary py-2 is-fullwidth">Get Started</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
<br/>
<br/>
<br/>
<br/>
<section class="section py-16-desktop is-clipped is-relative">
    <div class="container">
        <div class="columns is-align-items-center is-justify-content-space-between">
            <div class="column is-5 is-4-desktop is-5-widescreen mb-12 mb-0-tablet">
                <div class="pr-5-widescreen">
                    <small class="mb-2 is-block has-text-grey-darker is-uppercase has-text-weight-semibold">Sign in</small>
                    <h2 class="title has-mw-xs">Join our community</h2>
                    <div class="field mb-4">
                        <label class="label"><small>E-mail address</small></label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Type your e-mail">
                        </div>
                    </div>
                    <div class="field mb-4">
                        <label class="label"><small>Password</small></label>
                        <div class="control">
                            <input class="input" type="password" placeholder="Type password">
                        </div>
                    </div>
                    <div class="control">
                        <button class="button is-warning is-fullwidth">Sign in</button>
                    </div>
                    <button class="button has-text-grey-darker has-text-weight-normal py-9" href="#" style=" width: 100%; border: none;">Forgot password</button>
                    <div class="buttons is-flex-direction-column">
                        <button class="button is-warning is-light has-text-grey-darker has-text-weight-normal is-relative mr-0 is-fullwidth">
                            <img class="is-absolute is-left-0 ml-3" src="acros-assets/icons/forms/facebook.svg" alt="">
                            <span>Sign in with Facebook</span>
                        </button>
                        <button class="button is-warning is-light has-text-grey-darker has-text-weight-normal is-relative mr-0 is-fullwidth">
                            <img class="is-absolute is-left-0 ml-3" src="acros-assets/icons/forms/twitter.svg" alt="">
                            <span>Sign in with Twitter</span>
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <div class="column is-24x24  py-0">
                    <img class="image ml-auto-tablet" src="https://media.istockphoto.com/photos/home-office-picture-id1254459991" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<br/>
<br/>
<br/>
<section class="section">
    <div class="container">
        <div class="columns is-multiline is-centered">
            <div class="column is-8 is-5-desktop">
                <div class="box p-6 has-background-light has-text-centered">
                    <span class="has-text-grey-dark">Sign Up</span>
                    <h3 class="mb-5 is-size-4 has-text-weight-bold">Create new account</h3>
                    <form action="#">
                        <div class="columns is-multiline">
                            <div class="column is-6">
                                <div class="control">
                                    <input class="input" type="text" placeholder="First Name">
                                </div>
                            </div>
                            <div class="column is-6">
                                <div class="control">
                                    <input class="input" type="text" placeholder="Last Name">
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input class="input" type="email" placeholder="E-mail address">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input class="input" type="password" placeholder="Password">
                            </div>
                        </div>
                        <label class="checkbox mb-5">
                            <input class="checkbox mr-2" type="checkbox" name="terms" value="1">
                            <small class="has-text-grey-dark">By signing up, you agree to our <a href="#">Terms, Data Policy</a> and <a href="#">Cookies Policy</a>.</small>
                        </label>
                        <button class="button is-warning mb-3 is-fullwidth">Sign Up</button>
                    </form>
                    <p class="has-text-grey-dark">
                        <small>
                            <span>Already have an account?</span>
                            <a href="#">Sign In</a>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<br/>
<br/>
<section class="section has-background-warning">
    <div class="container">
        <div class="is-vcentered columns is-multiline">
            <div class="column is-6 is-5-desktop mb-4">
                <span class="has-text-white">Lorem ipsum</span>
                <h2 class="has-text-white mt-2 mb-3 is-size-1 is-size-3-mobile has-text-weight-bold">Lorem ipsum dolor sit amet consectutar</h2>
                <p class="has-text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.</p>
            </div>
            <div class="column is-5 ml-auto">
                <div class="mx-auto box p-6 has-background-light has-text-centered">
                    <h4 class="is-size-5 mb-2 has-text-weight-bold">Sign up to our newsletter</h4>
                    <p class="has-text-grey-dark mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <form action="#">
                        <input class="input mb-3" type="email" placeholder="Type your e-mail">
                        <button class="button is-warning is-fullwidth">Action</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>